@CHARSET "UTF-8";

body
{
	padding:0px;
	margin:0px;
}
.c_label_l
{
	font-size:20px;
	text-align:right;
	color:black;
	float:left;
	width:180px;
	height:42px;
	margin-right:20px;
	margin-top:10px
}

.c_line
{
	float:left;
	width:2px;
	height:20px;
	background: #000;
	margin:0px 10px 0px 10px;
}

.content-title
{
font-size: 24px;
color:black;
text-align:left;
margin:10px 0px 0px 20px;

}

#homebody 
{
	text-align: center;
	min-width: 1280px;
	height: 100%;
	font: 12px; /*"宋体",Tahoma,Helvetica,Arial,STXihei,SimSun,sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	font-color: #fff;
	margin: 0px;
	padding: 0px;
	background: #e1e1e1;    
}

#top
{
	position: relative;
	/*width: 1280px;*/
	min-width:1100px;
	width:100%;
	height: 60px;
	margin: 0px auto;
	background: #2c86ee; 	
}

#d_live
{
	float: left;
	height: 100%;
	color: #fff;
	font-size: 40px;
	margin-left: 130px;	
	text-align: center;
}

#d_live a
{
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 40px;
	top: 0px;
	border: 0px;
}

#d_live img
{
	float: left;
	width: 45px;
	height: 45px;
	margin-top: 7px;
	border: 0px;
}

#d_live span
{
	float: left;
	font-size: 40px;
	margin-left: 20px;
	color: #fff;
	margin-top: 7px;
}

#center
{
	position: relative;
	/*width: 1280px;*/
	height: 460px;
	margin: 40px 0px 0px 130px;
	color: #fff;
}

#left
{
	float: left;
	width: 640px;
	height: 360px;
}

#right
{
	width: 560px;
	height: 460px;
	text-align:left;
}

 #Inaccount,#cellphone,#new_password,#cf_password
{
	position: relative;
	float:left;
	border: 1px;
	border-style: solid;
    border-color: #9ac1ef;
	width: 300px;
	height: 40px;
	font-size: 20px;
	color: #888;		
}

#new_password,#cf_password
{
	color:black;
}

#code
{
	position: relative;
	width: 300px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 42px;
	margin-left: 30px;
}

#code img
{
	float: right;
	width: 120px;
	height: 40px;
	border: none;
	margin-top: 20px;
}

#submitOn,.buttonstyle
{
	position: relative;
	width: 300px;
	height: 48px;
	font-size: 25px;
	color: #fff;
	background: #2c86ee;
	border-radius:10px;
	border:none;
	margin-top: 20px;
	margin-left:200px;
}

#hr
{
	border: 1px;	
}

#r_InPassword, #r_InPasswordcf, #r_InPasswordtip, #r_InPasswordcftip,#cellVerifycode
{
	position: relative;
	border: 1px;
	border-style: solid;
    border-color: #9ac1ef;
	width: 300px;
	height: 40px;
	font-size: 20px;
	color: #888;
	margin-bottom: 10px;	
}

#cellVerifycode
{
	width: 130px;
	color: #000;
	float:left;
}

#errorMsg
{
	position: relative;
	border: 0px;
	border-style: solid;
    border-color: #9ac1ef;
	height: 30px;
	font-size: 14px;
	color: red;
	text-align: left;
	margin-left:200px;
}

#r_Inaccount
{
	position: relative;
	border: 1px;
	border-style: solid;
    border-color: #9ac1ef;
	width: 300px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 10px;	
	margin-top: 0px;
	background: #aaaaaa; 
	color: #000; 	
}

#getVerify
{
	postion:relative;
	height: 40px;
	width:150px;
	margin-left:20px;
	font-size: 18px;
	float:left;
}

#verifycode
{
	float: left;
	width: 120px;
	height: 38px;
	border: 1px;
	font-size: 20px;
	border-style: solid;
    border-color: #9ac1ef;
    margin-right:20px;
}

#verifyCodeimg
{
	width: 120px;
	height: 40px;
	border: none;
}

#submitreset
{
	position: relative;
	width: 300px;
	height: 48px;
	font-size: 25px;
	color: #fff;
	background: #2c86ee;
	border-radius:10px;
	border:none;
}

#divMsg
{ 
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;	
   height: 100%;
   margin: 0px auto;
   background: rgba(0, 0, 0, 0.0) !important; /* IE无效，FF有效 */
   background-color: black;
   z-index:1010;
   filter: alpha(opacity=100);
}

.showMsg
{
	background: #FFFFFF;  
	position: absolute;	
	width: 500px;
	height: 250px;
	top: 200px;
	left: 30%;	
	border-radius:10px;	
	font-size: 20px;

}

.showMsg div
{
	top: 30px;
	margin-top: 10px;
}